<%= javascript_pack_tag 'index' %>
<div id="index">
  <% @courses.each do |course| %>
    <h2><%= link_to course.name, course_path(course) %></h2>
  <% end %>
  <br>
  <%= link_to "List of Professors", professors_path %>
</div>
